@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .custom-scroll::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  .custom-scroll::-webkit-scrollbar-track {
    background: #1a2332;
  }

  .custom-scroll::-webkit-scrollbar-thumb {
    background: #2a374f;
    border-radius: 4px;
  }

  .custom-scroll::-webkit-scrollbar-thumb:hover {
    background: #3b4d6e;
  }

  @keyframes pulse-glow {

    0%,
    100% {
      opacity: 1;
      box-shadow: 0 0 5px currentColor;
    }

    50% {
      opacity: 0.7;
      box-shadow: 0 0 2px currentColor;
    }
  }

  .lamp-active {
    animation: pulse-glow 2s infinite;
  }
}

@layer base {

  input[type="number"],
  input[type="text"],
  input[type="password"] {
    @apply text-white bg-transparent outline-none;
  }

  /* Specific fix for browser autofill background */
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-text-fill-color: white;
    -webkit-box-shadow: 0 0 0px 1000px #0f172a inset;
    transition: background-color 5000s ease-in-out 0s;
  }
}